body{
    background-color: #2f3640;
    color: #ffffff;
    font-family: Consolas;
}
h1{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    color: #ffffff;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Consolas;
}
a{
    color: #ffffff;
    background-color: #c23616;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Consolas;
}
span{
    color: #ffffff;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Consolas;
}