@font-face {
    font-family: "Roboto-Black";
    src: url("res/fonts/roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("res/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("res/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("res/fonts/inconsolata/Inconsolata-regular.ttf");
}

body{
    background-color: #212121;
    color: #ffffff;
    font-family: "Roboto-Regular";
    overflow-y: scroll;
}

h1{
    color: #ffffff;
    font-family: "Roboto-Black";
    font-weight: normal;
    padding: 0;
    margin: 0;
}

p {
    color: #ffffff;
    font-family: "Roboto-Light";
}

form, a, label {
    color: #ffffff;
    font-family: "Roboto-Regular";
}

.navBar {
    padding: 5pt;
    background: #1a1a1a;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    padding: 2pt;
}

.navLink {
    font-size: large;
    display: inline-block;
    padding: 5pt;
    height: 17pt;
    color: #fff;
    background: #ff5f5f;
    font-family: "Roboto-Regular";
    text-decoration: none;
    border-radius: 13.5pt;
}

.bodyFontMono {
    font-family: "Inconsolata";
}

.bodyFont {
    font-family: "Roboto-Regular";
}

.pageLink:hover {
    background: #4d4d4d;
    border: #0000 1px solid;
}

.button:hover {
    background: black;
}

.inputUnit {
    font-size: small;
    opacity: 70%;
}

.pageLink {
    border: white 1px solid;
    font-size: medium;
    display: inline-block;
    padding: 4pt 6pt 4pt 6pt;
    color: #fff;
    font-family: "Roboto-Regular";
    text-decoration: none;
    border-radius: 2pt;
}

span{
    color: #ffffff;
    font-family: "Roboto-Regular";
}

.centered {
    text-align: center;
}

.pageCenter {
    text-align: left;
    margin: auto;
    max-width: 40em;
    padding: 10px;
    display: inline-block;;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
    text-align: right;
    border: 0;
    border-radius: 5px;
    background: #424242;
    color: white;
    font-family: "Roboto-Regular";
    text-align: center;
}

::selection {
    background: #9b1f00;
}

input:focus {
    outline: 2px solid #1565c0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

table td {
    vertical-align: top;
}

.diagonalCrossDown {
    background: linear-gradient(to top right, #0000 calc(50% - 1px), white , #0000 calc(50% + 1px) )
}

.diagonalCrossUp {
    background: linear-gradient(to top left, #0000 calc(50% - 1px), white , #0000 calc(50% + 1px) )
}